.spacer {
    height: 30vh;
}

.rd-spacer {
    height: 10vh;
}

.trd-spacer {
    height: 20vh;
}

.sth-spacer {
    height: 5vh;
}

.tnth-spacer {
    height: 3vh;
}

.btn-invis {
    background: transparent;
    border: none;
}

.corners {
    border-radius: 0 !important;
}

.overflowing {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
            line-clamp: 2;
    -webkit-box-orient: vertical;
}